<article>

    <div class="row align-items-center">

        <div class="col-md-6 text-center animated fadeIn">

            <div class="row justify-content-center">
                <div class="col-7">
                    <img src="/images/kishbw.png" title="Kishan Mistry" alt="Kishan Mistry" class="img-fluid" />
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center pt-4">
            <p class="font-weight-bold">
                A dental foundation trainee with a passion for digital dentistry
            </p>
            <p>
                Spends days trying to intraoral scan anything with a margin
            </p>
            <p>
                <em>Currently learning how to 3D print</em>
            </p>
            <p>
                <span style="color: #aaa;">
        <i class="fas fa-laptop fa-3x animated wobble"></i>
      </span>
            </p>
        </div>

    </div>
</article>
