---
# Only the main Sass file needs front matter (the dashes are enough)
---
.animated{
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:none!important;
  animation-fill-mode:none!important;
}

@import "minima";

#kish {
   background-image: url('/images/kishbw.png');
   width: 400px;
   height: 300px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   @include media-query($on-palm) {
         width:100%;
   }
   &:hover {
      background-image: url('/images/kishc.png');
   }
}
